.KeysButton {
  padding: 10px;
  width: 5%;
  margin: 1%;
  font-size: 20px;
  margin-top: 2%;
  text-align: center;
  border-style: none;
  border-radius: 12px;
  background-color: dodgerblue;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 28px;
  cursor: pointer;
}
.KeyboardDiv {
  width: 60%;
  margin-left: 20%;
 padding: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.Input {
  width: 5%;
  margin: 1%;
  padding: 1%;
  border-radius: 20px;
  font-size: 18px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
/* Hangman styling */
.head {
  margin: 0em 0em 0em -0.3em;
  width: 6em;
  height: 6em;
  border-radius: 100em;
  background: #0b2429;
}
.neck {
  width: 0.5em;
  height: 140px;
  margin: -0.7em 0em 0em 2.3em;
  background: #0b2429;
}
.hand {
  width: 0.7em;
  height: 6em;
  background: #0b2429;
  margin: -6em 0em 0em 4.3em;
  transform: rotate(-45deg);
}
.left {
  margin: -6em 0em 0em 0.2em;
  transform: rotate(45deg);
}
.down {
  margin: -0.9em 0em 0em 0.2em;
}
.downRight {
  margin: -6em 0em 0em 4.3em;
}
.stand{
  height: 50px;
}
.mainstand{
  height: 15px;
  width: 15em;
  margin: -0.9em -5.8em 1em -8em ;
  background: #0b2429;
  position: absolute;
}
.standheight{
  height: 358px;
  width: 1em;
  background: #0b2429;
  margin: -0.8em -0.4em -0.5em -8em;
}
/* End of hangman styling */
.inputArea{
    width: 90%;
    margin-left: 5%;
    margin-top: -9em;
}
.Container{
  margin-top: -4em;
  margin-left: 10em;
}